@import "../App.scss";

.carousel__buttons {
  position: absolute;
  bottom: 35vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
  padding: 0 2.5%;
  @include flex(row, space-between, center);
  z-index: 999;

  @media only screen and (max-width: 1300px) {
    width: 90%;
    bottom: 40vh;
    left: 5%;
    transform: translate(0, 0);
  }

  .carousel__button {
    position: absolute;
    left: 0;
    top: 50%;
    width: 3rem;
    height: 5rem;
    background-color: rgba($color: $white, $alpha: 0.8);
    z-index: 10;
    padding: 0.6rem;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateX(-10%);
    @include flex(row, center, center);

    svg {
      width: 100%;
      height: 100%;
      color: $black;
    }

    &.right {
      left: auto;
      right: 0;
      transform: translateX(10%);
    }
  }
}

.carousel {
  width: 75%;
  @include flex(row, flex-start, flex-start);
  height: 65vh;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;

  @media (max-width: 1300px) {
    width: 90%;
    height: 80%;
    bottom: 0%;
    left: 5%;
    transform: translate(0, 0);
    height: 58vh;
  }

  .inner__carousel {
    @include flex(row, flex-start, center);
    height: 100%;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;

    .project {
      width: calc(75vw / 3);
      height: 65vh;
      @include flex(column, flex-start, flex-start);
      padding: 0 0.5rem;
      position: relative;

      @media (max-width: 1500px) {
        padding: 0 0.5rem;
      }

      @media (max-width: 1300px) {
        width: calc(90vw / 3);
        height: 58vh;
      }

      @media (max-width: 1000px) {
        width: calc(90vw / 2);
      }

      @media (max-width: 768px) {
        width: 90vw;
      }

      .image {
        height: 100%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(0.9);
        }
      }

      .content {
        @include flex(column, flex-start, flex-start);
        width: calc(90% - 1rem);
        gap: 1rem;
        height: 30%;
        padding: 1.5rem 1rem;
        position: absolute;
        left: 0.4rem;
        bottom: 1rem;
        box-shadow: 0px 0px 10px 0px rgba($color: $black, $alpha: 0.2);

        background: linear-gradient(
          180deg,
          rgba($color: $white, $alpha: 0.95) 0%,
          rgba($color: $white, $alpha: 0.95) 100%
        );

        @media (max-width: 1800px) {
          height: 39%;
        }

        @media (max-width: 1300px) {
          gap: 0.5rem;
        }

        @media (max-width: 768px) {
          height: 30%;
        }
        @media (max-width: 400px) {
          height: 35%;
        }

        h3 {
          font: 25px "Roboto Bold", sans-serif;
          color: $black;
          text-transform: uppercase;

          @media (max-width: 1300px) {
            font-size: 20px;
          }
        }

        p {
          font: 12px "Roboto Regular", sans-serif;
          color: $black;
          max-width: 100%;
          text-align: left;

          @media (max-width: 1300px) {
            font-size: 11px;
          }
        }

        .outside__btn {
          font: 12px "Roboto Regular", sans-serif;
          background-color: $secondary;
          color: $white;
          position: absolute;
          bottom: 1rem;
          left: 1rem;

          @media (max-width: 768px) {
            font-size: 11px;
          }
        }
      }
    }
  }
}
