@import "../App.scss";

.device {
  .device__hero {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    padding: 0 12.5%;
    @include flex(row, center, center);

    @media only screen and (max-width: 1300px) {
      padding: 0 5%;
    }

    @media only screen and (max-width: 1000px) {
      height: 100%;
      @include flex(column, center, center);
    }
    .image {
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: relative;
      border-top: none;

      @media only screen and (max-width: 1000px) {
        width: 100%;
        height: 50%;
        border-top: 1px solid $gray;
      }

      img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        object-position: center;
      }
    }

    .content {
      @include flex(column, center, flex-start);
      padding-left: 5%;
      width: 50%;
      height: 100%;
      gap: 1rem;

      @media only screen and (max-width: 1000px) {
        width: 100%;
        height: 50%;
        padding: 5vh 5%;
      }

      h1 {
        font: 45px "Roboto SemiBold", sans-serif;
        color: $black;
        margin-bottom: 2rem;

        @media only screen and (max-width: 1300px) {
          font: 28px "Roboto Regular", sans-serif;
          width: 100%;
          text-align: left;
        }

        span {
          color: $primary;
        }
      }

      p {
        font: 14px "Roboto Regular", sans-serif;
        color: $black;
        max-width: 70%;
        text-align: left;

        @media only screen and (max-width: 1300px) {
          font: 11px "Roboto Regular", sans-serif;
          max-width: 100%;
        }
      }

      a {
        border-bottom: 1px solid $black;
        color: $black;
        margin-top: 1rem;
        font: 14px "Roboto SemiBold", sans-serif;
        cursor: pointer;
      }
    }
  }

  .device__specifications {
    width: 75%;
    margin: 5vh 12.5%;
    @include flex(column, flex-start, flex-start);
    border: 1px solid $gray;

    @media only screen and (max-width: 1300px) {
      width: 90%;
      margin: 5vh 5%;
    }

    .item {
      @include flex(row, flex-start, center);
      width: 100%;
      border-bottom: 1px solid $gray;

      &:last-child {
        border-bottom: none;
      }

      .title {
        padding: 0.5rem 1rem;
        width: 30%;
        font: 15px "Roboto Regular", sans-serif;
        border-right: 1px solid $gray;
      }

      .value {
        padding: 0.5rem 1rem;
        width: 70%;
        font: 15px "Roboto Regular", sans-serif;
      }
    }
  }

  .device__content {
    @include flex(column, center, center);
    width: 100%;
    padding: 5vh 12.5%;
    overflow: hidden;
    gap: 5vh;
    @media only screen and (max-width: 1300px) {
      padding: 5vh 5%;
    }
    .slide {
      height: 60vh;
      width: 100%;
      @include flex(row, center, center);
      @media only screen and (max-width: 1300px) {
        @include flex(column, center, center);
        height: auto;
      }

      .image {
        width: 50%;
        height: 60vh;
        overflow: hidden;
        @media only screen and (max-width: 1300px) {
          width: 100%;
          height: 50vh;
        }

        img {
          width: 100%;
          height: 100% !important;
          object-fit: contain;
          object-position: center;
        }
      }

      .content {
        @include flex(column, center, flex-start);
        width: 50%;
        padding-left: 5%;
        height: 100%;
        @media only screen and (max-width: 1300px) {
          width: 100%;
          height: auto;
          padding: 5vh 5%;
        }

        h1 {
          font: 35px "Roboto SemiBold", sans-serif;
          color: $black;
          margin-bottom: 2rem;
          text-align: left;

          @media only screen and (max-width: 1300px) {
            font: 28px "Roboto Regular", sans-serif;
            text-align: center;
            max-width: 100%;
          }
        }

        p {
          font: 15px "Roboto Regular", sans-serif;
          color: $black;
          max-width: 100%;
          text-align: left;
          margin-top: 0.5rem;

          @media only screen and (max-width: 1300px) {
            font: 11px "Roboto Regular", sans-serif;
            max-width: 100%;
          }
        }
      }

      &.reverse {
        @include flex(row-reverse, center, center);
        @media only screen and (max-width: 1300px) {
          @include flex(column, center, center);
        }

        .content {
          padding-right: 5%;
          padding-left: 0;
        }
      }
    }
  }

  .video {
    width: 100%;
    padding: 5vh 12.5%;
    @include flex(column, center, center);
    overflow: hidden;

    video {
      width: 100%;
      object-fit: cover;
      object-position: center;
      @media only screen and (max-width: 1300px) {
        height: 50vh;
      }
    }
  }

  .devices {
    @include flex(column, center, center);
    width: 100%;
    padding: 5vh 12.5%;
    overflow: hidden;

    @media only screen and (max-width: 1300px) {
      padding: 5vh 5%;
    }

    h1 {
      font: 40px "Roboto SemiBold", sans-serif;
      color: $dark-gray;
      margin-bottom: 2rem;
      text-transform: uppercase;

      @media only screen and (max-width: 1300px) {
        font: 35px "Roboto SemiBold", sans-serif;
        width: 100%;
        text-align: center;
      }

      span {
        color: $primary;
      }
    }

    p {
      text-align: center;
      max-width: 40%;
      font: 13px "Roboto Regular", sans-serif;

      @media only screen and (max-width: 1300px) {
        font: 11px "Roboto Regular", sans-serif;
        max-width: 90%;
      }
    }

    .devices__container {
      @include flex(row, center, center);
      gap: 1rem;
      flex-wrap: wrap;
      width: 100%;
      overflow: hidden;

      @media only screen and (max-width: 1300px) {
        gap: 0.5rem;
      }

      .device {
        width: calc(50% - 0.5rem);
        height: 30vh;
        overflow: hidden;
        @include flex(row, center, center);
        background-color: #f1f1f1;

        @media only screen and (max-width: 1300px) {
          width: calc(50% - 0.5rem);
        }

        @media only screen and (max-width: 1000px) {
          width: calc(100%);
        }

        .image {
          width: 50%;
          height: 100%;
          overflow: hidden;
          position: relative;

          img {
            width: 100%;
            height: 100% !important;
            object-fit: cover;
            object-position: center;
          }
        }

        .content {
          height: 100%;
          width: 50%;
          padding: 1.5rem 1rem;
          @include flex(column, space-between, flex-start);

          .top {
            @include flex(column, flex-start, flex-start);
            width: 100%;

            h3 {
              font: 35px "Roboto SemiBold", sans-serif;
              color: $black;
              margin-bottom: 0.5rem;
            }

            p {
              font: 13px "Roboto Regular", sans-serif;
              color: $black;
              max-width: 100%;
              text-align: left;
            }
          }

          .bottom {
            @include flex(row, flex-start, center);
            width: 100%;
            gap: 1rem;

            @media only screen and (max-width: 1300px) {
              gap: 0.5rem;
              @include flex(column-reverse, flex-start, flex-start);
            }

            .link {
              color: $black;
              font: 11px "Roboto SemiBold", sans-serif;
              border-bottom: 1px solid $black;
            }

            .outside__btn {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
