@import "../App.scss";

.header {
  width: 100%;
  height: calc(7vh + 4vh);
  @include flex(column, flex-start, flex-start);
  z-index: 3;
  position: sticky;
  background: transparent;
  top: 0;
  z-index: 1000000000000;

  .top__header {
    @include flex(row, space-between, center);
    background-color: $secondary-dark;
    gap: 1rem;
    width: 100%;
    height: 4vh;

    .contact {
      width: 40%;
      @include flex(row, flex-start, center);
      gap: 1rem;
      height: 4vh;
      background-color: $primary;
      padding-left: 7.5vw;

      div {
        font: 0.85rem "Roboto Regular", sans-serif;
        color: $white;
        @include flex(row, center, center);
        gap: 0.5rem;

        svg {
          height: 100%;
          width: 2.5vh;
        }

        span {
          font: 0.8rem "Roboto Light", sans-serif;
        }
      }
    }

    .socials {
      @include flex(row, flex-start, flex-start);
      gap: 0.8rem;
      height: 100%;
      padding: 0.5rem 0;
      padding-right: 7.5vw;

      img {
        height: 100%;
        aspect-ratio: 1;
        cursor: pointer;
      }
    }
  }

  .navbar {
    width: 100%;
    height: 7vh;
    position: relative;
    @include flex(row, space-between, center);
    padding: 0 7.5%;
    z-index: 1;
    background: $secondary;
    gap: 2rem;
    .navbar__left {
      padding: 0.3rem 0;
      height: 100%;
      padding: 0.45rem;
      .logo {
        height: 100%;
        width: 100%;
        cursor: pointer;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .navbar__center {
      @include flex(row, center, center);
      height: 100%;
      gap: 1.5rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      a {
        text-decoration: none;
        color: $white;
        font: 0.8rem "Roboto Regular", sans-serif;
        @include flex(row, center, center);
        text-transform: uppercase;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
