@import "../App.scss";

.header {
  width: 100%;
  height: calc(6.2vh + 5vh);
  @include flex(column, flex-start, flex-start);
  z-index: 3;
  position: sticky;
  background: transparent;
  top: 0;
  box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.05);
  .top__header {
    @include flex(row, space-between, center);
    background-color: $secondary;
    gap: 1rem;
    width: 100%;
    height: 5vh;
    padding: 0 12.5%;

    p {
      font-size: 1rem;
      font: 0.75rem "Roboto Light", sans-serif;
      color: $light-gray;
    }

    .socials {
      @include flex(row, flex-start, flex-start);
      gap: 1rem;
      height: 100%;
      padding: 0.6rem 0;

      img {
        height: 100%;
        aspect-ratio: 1;
        cursor: pointer;
      }
    }
  }

  .navbar {
    width: 100%;
    height: 6.2vh;
    position: relative;
    @include flex(row, space-between, center);
    padding: 0 12.5%;
    z-index: 1;
    background-color: rgba($color: $white, $alpha: 0.9);
    border-bottom: 1px solid $light-gray;
    .navbar__left {
      padding: 0.3rem 0;
      height: 100%;
      .logo {
        height: 100%;
        cursor: pointer;

        img {
          height: 100%;
        }
      }
    }

    .navbar__center {
      @include flex(row, center, center);
      height: 100%;
      gap: 1.5rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      a {
        text-decoration: none;
        color: $black;
        font: 0.85rem "Roboto Regular", sans-serif;
        transition: all 0.3s ease-in-out;
        @include flex(row, center, center);

        &:hover {
          border-bottom: 1px solid $black;
        }
      }
    }
  }
}
