@import "../App.scss";

.home {
  .hero {
    width: 100%;
    height: 75vh;
    background-color: $white;
    position: relative;
    @include flex(column, center, center);
    z-index: 0;
    margin-bottom: 10vh;

    @media only screen and (max-width: 1300px) {
      height: 82vh;
    }

    .service {
      position: absolute;
      bottom: 0;
      left: 12.5%;
      padding: 2rem 2rem;
      @include flex(column, flex-start, flex-start);
      gap: 2rem;
      background-color: rgba($color: $white, $alpha: 0.6);
      backdrop-filter: blur(10px);
      z-index: 2;
      width: 25rem;
      box-shadow: 0px 0px 10px 0px rgba($color: $black, $alpha: 0.1);
      transform: translateY(50%);

      @media only screen and (max-width: 1300px) {
        left: 5%;
        width: 90%;
        gap: 1rem;
      }

      h2 {
        font: 22px "Roboto Regular", sans-serif;
        color: $black;
        text-transform: uppercase;
      }

      p {
        font: 13px "Roboto Light", sans-serif;
        color: $black;
        max-width: 100%;
        margin: 0;
      }
    }

    .slider__button {
      position: absolute;
      left: 12.5%;
      top: 50%;
      width: 2.5rem;
      height: 2.5rem;
      backdrop-filter: blur(10px);
      background-color: rgba($color: $white, $alpha: 0.4);
      z-index: 10;
      padding: 0.5rem;
      border: none;
      outline: none;
      cursor: pointer;

      @media only screen and (max-width: 1300px) {
        left: 2%;
      }

      svg {
        color: rgba($color: #000000, $alpha: 0.7);
        width: 100%;
        height: 100%;
      }

      &.right {
        left: auto;
        right: 12.5%;

        @media only screen and (max-width: 1300px) {
          right: 2%;
        }
      }

      &:hover {
        background-color: rgba($color: $white, $alpha: 0.6);
      }
    }

    .slide {
      width: 100%;
      height: calc(100%);
      transition: all 0.3s ease-in-out;
      position: absolute;
      left: 0;
      top: 0;

      &.active {
        .slide__content {
          opacity: 1;
          z-index: 2;
          transform: translateY(50%) translateX(-50%);
          transition: all 0.3s ease-in-out;
        }

        .slide__image {
          transform: translateX(0%);
          opacity: 1;
          transition: all 0.3s ease-in-out;
          z-index: 1;
        }
      }

      .slide__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.5;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          display: block;
          filter: brightness(0.6);
        }
      }

      .slider__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        left: 0;
        backdrop-filter: blur(10px);
        background-color: rgba($color: $white, $alpha: 0.6);
        z-index: 4;
      }

      .slide__content {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateY(60%) translateX(-50%);
        @include flex(column, space-between, flex-start);
        width: 50%;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        opacity: 0;

        @media only screen and (max-width: 1300px) {
          width: 80%;
          @include flex(column, center, center);
        }

        h1 {
          font: 60px "Roboto Black", sans-serif;
          color: $black;
          color: $white;
          line-height: 1;
          width: 70%;
          text-align: left;
          text-transform: uppercase;
          span {
            color: $primary;
          }

          @media only screen and (max-width: 1300px) {
            font: 40px "Roboto Bold", sans-serif;
            width: 100%;
            text-align: center;
          }
        }

        h2 {
          font: 30px "Roboto Light", sans-serif;
          color: $light-gray;
          margin-bottom: 0.5rem;
          width: 100%;
          text-align: left;

          @media only screen and (max-width: 1300px) {
            font: 17px "Roboto Light", sans-serif;
            width: 100%;
            text-align: center;
          }
        }

        p {
          font: 13px "Roboto Light", sans-serif;
          color: $light-gray;
          transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
          text-align: left;

          @media only screen and (max-width: 1300px) {
            font: 11px "Roboto Light", sans-serif;
            width: 100%;
            text-align: center;
          }
        }

        .slide__description {
          @include flex(column, flex-start, flex-start);
          gap: 1rem;
          padding-top: 0.4rem;
          line-height: 1.1;
          letter-spacing: 1px;
          text-align: center;
          width: 60%;

          @media only screen and (max-width: 1300px) {
            width: 90%;
          }
        }

        .slide__actions {
          width: 100%;
          @include flex(row, flex-start, center);
          gap: 1rem;
          margin-top: 1.5rem;

          @media only screen and (max-width: 1300px) {
            width: 100%;
            @include flex(row, center, center);
            gap: 1rem;
          }

          .btn {
            background-color: $white;
            color: $black;
            font: 13px "Roboto Regular", sans-serif;
          }
        }
      }
    }
  }

  .services {
    width: 100%;
    @include flex(column, flex-start, center);
    padding: 5vh 12.5%;

    @media only screen and (max-width: 1300px) {
      padding: 5vh 5%;
    }

    h1 {
      font: 35px "Roboto SemiBold", sans-serif;
      color: $dark-gray;
      margin-bottom: 0.5rem;
      text-transform: uppercase;

      @media only screen and (max-width: 1500px) {
        font: 28px "Roboto Bold", sans-serif;
        text-align: center;
        max-width: 100%;
      }

      span {
        color: $primary;
      }
    }

    p {
      margin-top: 1rem;
      font: 13px "Roboto Regular", sans-serif;
      max-width: 40%;
      text-align: center;
      line-height: 1.6;

      @media only screen and (max-width: 1500px) {
        font: 12px "Roboto Regular", sans-serif;
        max-width: 100%;
      }
    }

    .services__container {
      @include flex(row, center, center);
      gap: 2rem;
      margin-top: 5vh;
      width: 100%;

      @media only screen and (max-width: 900px) {
        @include flex(column, center, center);
        gap: 1rem;
      }

      .service {
        width: calc(100% / 3 - 2rem);
        @include flex(column, flex-start, center);
        height: 65vh;

        @media only screen and (max-width: 1500px) {
          height: 70vh;
        }

        @media only screen and (max-width: 900px) {
          width: 100%;
          height: 60vh;
        }

        .image {
          width: 100%;
          height: 40vh;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .content {
          height: 25vh;
          width: 90%;
          padding: 2rem 2rem;
          @include flex(column, flex-start, center);
          gap: 0.5rem;
          background-color: rgba($color: #ffffff, $alpha: 1);
          transform: translateY(-5vh);
          position: relative;

          @media only screen and (max-width: 1500px) {
            height: 35vh;
          }
        }

        h2 {
          font: 20px "Roboto SemiBold", sans-serif;
          color: $black;
          text-transform: uppercase;
          width: 100%;
          text-align: center;
        }

        p {
          max-width: 100%;
          font: 13px "Roboto Regular", sans-serif;
          text-align: center;
        }

        .outside__btn {
          margin-top: 0.7rem;
          position: absolute;
          bottom: 1rem;
          left: 50%;
          transform: translateX(-50%);

          @media only screen and (max-width: 1300px) {
            bottom: 0;
          }
        }
      }
    }
  }

  .about-us {
    @include flex(row, flex-start, center);
    width: 100%;
    z-index: 10000;
    padding: 0 12.5%;
    height: 60vh;
    position: relative;

    @media only screen and (max-width: 1300px) {
      height: 100%;
      padding: 0 5%;
    }

    @media only screen and (max-width: 768px) {
      height: 100%;
      padding: 0 5%;
      flex-direction: column;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      top: 50%;
      z-index: 0;
    }

    .content {
      @include flex(column, center, flex-start);
      z-index: 2;
      background-color: rgba($color: #ffffff, $alpha: 1);
      width: 50%;
      transform: translateX(5%);
      padding: 2rem 3rem;
      box-shadow: 0px 0px 20px 0px rgba($color: $black, $alpha: 0.1);

      @media only screen and (max-width: 1300px) {
        width: 100%;
        padding: 2rem 1rem;
        transform: translateX(0%);
        box-shadow: none;
      }

      .circle__container {
        position: absolute;
        right: 0;
        bottom: 10%;
        transform: translateX(50%) translateY(75%);
        background-color: rgba($color: $white, $alpha: 0.7);
        backdrop-filter: blur(10px);
        padding: 1rem;
        @include flex(column, center, center);
        gap: 1rem;
        box-shadow: 0px 0px 20px 0px rgba($color: $black, $alpha: 0.1);

        @media only screen and (max-width: 1300px) {
          bottom: 0;
          transform: translateX(8%) translateY(50%);
        }

        .circle {
          width: 6rem;

          @media only screen and (max-width: 1300px) {
            width: 4rem;
            height: 4rem;
          }
        }

        h4 {
          font: 13px "Roboto Bold", sans-serif;
          color: $black;

          @media only screen and (max-width: 1300px) {
            font: 12px "Roboto Bold", sans-serif;
            text-align: center;
          }
        }
      }

      h1 {
        font: 30px "Roboto SemiBold", sans-serif;
        color: $dark-gray;
        margin-bottom: 2rem;
        text-transform: uppercase;

        @media only screen and (max-width: 1300px) {
          font: 28px "Roboto Bold", sans-serif;
          width: 100%;
          text-align: center;
        }

        span {
          color: $primary;
        }
      }

      p {
        font: 13px "Roboto Regular", sans-serif;
        color: $black;
        margin-bottom: 3rem;
        max-width: 90%;
        line-height: 1.6;

        @media only screen and (max-width: 1300px) {
          font: 11px "Roboto Regular", sans-serif;
          max-width: 100%;
        }
      }

      .link {
        color: $primary;
        font: 13px "Roboto SemiBold", sans-serif;
        text-decoration: none;
        border-bottom: 1px solid $primary;
        transition: all 0.3s ease-in-out;
      }
    }

    .image {
      height: 100%;
      padding: 0;
      width: 50%;
      position: relative;
      overflow: hidden;

      @media only screen and (max-width: 1300px) {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .contact {
    width: 100%;
    @include flex(row, flex-start, flex-start);
    background-color: $secondary;
    height: 90vh;

    @media only screen and (max-width: 1000px) {
      height: 100%;
      @include flex(column, center, center);
    }

    .form {
      @include flex(column, center, flex-start);
      padding: 3rem 2rem;
      width: 50%;
      background-color: $white;
      z-index: 5;
      height: 100%;
      padding-right: 12.5%;
      gap: 1rem;
      background-color: $light-gray;

      @media only screen and (max-width: 1300px) {
        padding-right: 5vw;
      }

      @media only screen and (max-width: 1000px) {
        width: 100%;
        padding: 3rem 5%;
        @include flex(column, center, center);
      }

      h1 {
        font: 27px "Roboto SemiBold", sans-serif;
        color: $dark-gray;
        span {
          color: $primary;
        }
      }

      input {
        width: 100%;
        padding: 0.7rem 1rem;
        border: 1px solid $gray;
        outline: none;
        font: 13px "Roboto Light", sans-serif;
        color: $black;
        transition: all 0.3s ease-in-out;

        &:focus {
          border: 1px solid $primary;
        }
      }

      .row {
        @include flex(row, center, center);
        width: 100%;
        gap: 0.5rem;
      }

      textarea {
        width: 100%;
        padding: 1rem 1rem;
        border: 1px solid $gray;
        outline: none;
        font: 15px "Roboto Light", sans-serif;
        color: $black;
        transition: all 0.3s ease-in-out;
        resize: none;
        min-height: 15vh;

        &:focus {
          border: 1px solid $primary;
        }
      }

      p {
        margin-top: 1rem;
        font: 15px "Roboto Regular", sans-serif;
      }
    }

    ul {
      padding: 1rem 2rem;
      margin: 0;
      gap: 1rem;
      @include flex(column, flex-start, flex-start);

      li {
        font: 20px "Roboto Regular", sans-serif;
        span {
          margin-left: 0.5rem;
        }
      }
    }

    .info {
      @include flex(column, flex-start, flex-start);
      padding: 3rem;
      width: 50%;
      padding-left: 12.5%;
      gap: 1.4rem;
      color: $white;

      @media only screen and (max-width: 1300px) {
        padding-left: 5vw;
      }

      @media only screen and (max-width: 1000px) {
        width: 100%;
        padding: 3rem 5%;
        @include flex(column, center, center);
      }

      h1 {
        font: 30px "Roboto Regular", sans-serif;
        color: $white;
        span {
          color: $primary;
        }
      }

      p {
        font: 15px "Roboto Light", sans-serif;
        color: $white;
      }

      img {
        object-fit: contain;
        max-width: 70%;
      }
    }

    .socials {
      @include flex(row, center, center);
      gap: 0.5rem;

      img {
        height: 3vh;
        width: 3vh;
        cursor: pointer;
      }
    }
  }

  .devices {
    width: 100%;
    @include flex(row, center, center);
    position: relative;

    .col-1,
    .col-2 {
      width: 50%;
      @include flex(column, flex-start, center);
      gap: 2rem;

      .image {
        width: 100%;
        height: 60vh;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          opacity: 0;

          &.active {
            opacity: 1;
          }
        }
      }

      .content {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        padding: 2rem 2rem;
        gap: 3rem;
        background-color: $white;

        .link {
          color: $black;
          font: 13px "Roboto SemiBold", sans-serif;
          text-decoration: none;
          border-bottom: 1px solid $black;
          transition: all 0.3s ease-in-out;
        }
        p {
          color: $black;
          font: 13px "Roboto Regular", sans-serif;
        }

        h1 {
          font: 30px "Roboto Regular", sans-serif;
          color: $black;
          color: $dark-gray;
          text-transform: uppercase;
          span {
            color: $primary;
          }
        }

        .list {
          @include flex(column, flex-start, flex-start);
          gap: 1rem;
          padding: 2rem 0;
          width: 100%;

          .item {
            @include flex(row, flex-start, flex-start);
            gap: 3rem;
            width: 100%;

            .index {
              font: 16px "Roboto Bold", sans-serif;
              color: $black;
            }

            .container {
              @include flex(column, flex-start, flex-start);
              gap: 0.7rem;
              margin: 0;
              padding: 0;

              .link {
                display: none;
                color: $black;
                border-bottom: 1px solid $black;
                font: 13px "Roboto SemiBold", sans-serif;
              }

              padding-bottom: 1.5rem;
              width: 100%;

              h3 {
                font: 16px "Roboto Bold", sans-serif;
                color: $black;
              }

              p {
                font: 13px "Roboto Regular", sans-serif;
                color: $black;
                max-width: 100%;
                margin: 0.5rem 0;
                display: none;
              }
            }

            &.active {
              .container {
                p {
                  display: block;
                }
                border-bottom: 1px solid #00000020;

                .link {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    .col-1 {
      .image {
        height: 80vh;
      }

      .content {
        padding-left: 12.5vw;
        padding-right: 3rem;
      }
    }

    .col-2 {
      .image {
        height: 60vh;
      }

      .content {
        padding-right: 12.5vw;
        padding-left: 3rem;
      }
    }
  }

  .projects {
    width: 100%;
    padding: 0 12.5%;
    @include flex(column, center, center);
    margin-top: 5vh;
    position: relative;
    padding-bottom: 68vh;
    margin-bottom: 5vh;
    margin-top: 10vh;

    @media only screen and (max-width: 1300px) {
      padding: 0 5%;
      padding-bottom: 60vh;
      padding-top: 5vh;
    }

    h1 {
      font: 35px "Roboto SemiBold", sans-serif;
      color: $dark-gray;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      span {
        color: $primary;
      }

      @media only screen and (max-width: 1300px) {
        font: 28px "Roboto Bold", sans-serif;
        text-align: center;
        max-width: 100%;
      }
    }

    p {
      text-align: center;
      max-width: 40%;
      font: 13px "Roboto Regular", sans-serif;

      @media only screen and (max-width: 1300px) {
        font: 11px "Roboto Regular", sans-serif;
        max-width: 90%;
      }
    }
  }

  .controllers__type {
    width: 100%;
    padding: 10vh 12.5%;
    @include flex(column, center, center);
    position: relative;
    gap: 1rem;

    @media only screen and (max-width: 1300px) {
      padding: 5vh 5%;
    }

    .content {
      @include flex(column, center, center);
      background-color: $white;
      padding-bottom: 1rem;

      h1 {
        font: 35px "Roboto Black", sans-serif;
        color: $dark-gray;
        margin-bottom: 1rem;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        span {
          color: $primary;
        }

        @media only screen and (max-width: 1000px) {
          font: 28px "Roboto Bold", sans-serif;
          text-align: center;
          max-width: 100%;
        }
      }

      p {
        font: 13px "Roboto Regular", sans-serif;
        color: $black;
        margin-bottom: 0.5rem;
        max-width: 100%;
        line-height: 1.6;

        @media only screen and (max-width: 1000px) {
          font: 11px "Roboto Regular", sans-serif;
          text-align: center;
          max-width: 100%;
        }
      }
    }

    .list {
      width: 100%;
      @include flex(row, flex-start, flex-start);
      gap: 1rem;
      overflow: hidden;

      @media only screen and (max-width: 1000px) {
        @include flex(column, center, center);
        gap: 1rem;
      }

      .item {
        height: 73vh;
        @include flex(column, flex-start, center);
        width: 100%;

        .image {
          width: 100%;
          height: 70%;
          position: relative;

          @media only screen and (max-width: 1000px) {
            height: 60%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            box-shadow: 0px 0px 20px 0px rgba($color: $black, $alpha: 0.1);
          }

          .index {
            position: absolute;
            left: 2rem;
            bottom: 0.7rem;
            transform: translateY(50%);
            padding: 1rem;
            background-color: rgba($color: $primary, $alpha: 0.9);
            color: $white;
            font: 20px "Roboto Bold", sans-serif;

            @media only screen and (max-width: 1300px) {
              font: 15px "Roboto Bold", sans-serif;
            }
          }
        }

        .item__content {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          gap: 1rem;
          height: 30%;
          background-color: $secondary;
          padding: 2rem 2rem;

          @media only screen and (max-width: 1300px) {
            padding: 2rem 1rem;
          }

          h3 {
            font: 20px "Roboto SemiBold", sans-serif;
            color: $light-gray;
            text-transform: uppercase;

            @media only screen and (max-width: 1300px) {
              font: 15px "Roboto SemiBold", sans-serif;
            }
          }

          p {
            font: 12px "Roboto Light", sans-serif;
            color: $gray;

            @media only screen and (max-width: 1300px) {
              font: 11px "Roboto Light", sans-serif;
            }
          }

          .outside__btn {
            font: 12px "Roboto Light", sans-serif;
            background-color: $primary;

            @media only screen and (max-width: 1300px) {
              font: 11px "Roboto Light", sans-serif;
            }
          }
        }
      }
    }
  }

  .content__two__picture_central {
    width: 100%;
    padding: 5vh 12.5%;
    @include flex(column, center, center);
    background-color: $light-gray;

    @media only screen and (max-width: 1300px) {
      padding: 5vh 5%;
    }

    .content {
      width: 100%;
      padding: 2rem 0rem;
      @include flex(row, center, center);
      z-index: 2;

      @media only screen and (max-width: 1000px) {
        @include flex(column, center, center);
      }

      .image {
        width: 30%;
        height: 60vh;
        overflow: hidden;

        @media only screen and (max-width: 1000px) {
          width: 100%;
          height: 40vh;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .content {
        width: 40%;
        padding: 6rem 1rem;
        background-color: $secondary;
        height: 65vh;
        @include flex(column, space-between, center);

        @media only screen and (max-width: 1000px) {
          width: 100%;
          padding: 2rem 1rem;
        }

        h3 {
          font: 40px "Roboto SemiBold", sans-serif;
          color: $light-gray;
          text-transform: uppercase;

          @media only screen and (max-width: 1300px) {
            font: 28px "Roboto SemiBold", sans-serif;
          }
        }

        p {
          font: 13px "Roboto Light", sans-serif;
          color: $gray;
          max-width: 90%;

          @media only screen and (max-width: 1300px) {
            font: 11px "Roboto Light", sans-serif;
          }
        }

        .outside__btn {
          font: 13px "Roboto Light", sans-serif;
          padding: 0.4rem 0.9rem;

          @media only screen and (max-width: 1300px) {
            font: 11px "Roboto Light", sans-serif;
          }
        }
      }
    }
  }
}
