@import "../App.scss";

.home {
  .hero {
    width: 100%;
    height: 75vh;
    background-color: $white;
    position: relative;
    @include flex(column, center, center);
    z-index: 0;

    @media only screen and (max-width: 1300px) {
      height: 82vh;
    }

    .slider__button {
      position: absolute;
      left: 12.5%;
      top: 50%;
      width: 2.5rem;
      height: 2.5rem;
      backdrop-filter: blur(10px);
      background-color: rgba($color: $white, $alpha: 0.4);
      z-index: 10;
      padding: 0.5rem;
      border: none;
      outline: none;
      cursor: pointer;
      transition: left 1s;
      animation: slideLeft 0.5s ease-in-out forwards;

      @media only screen and (max-width: 1300px) {
        left: 2%;
      }

      svg {
        color: rgba($color: #000000, $alpha: 0.7);
        width: 100%;
        height: 100%;
      }

      &.right {
        left: auto;
        right: 12.5%;
        animation: slideRight 0.5s ease-in-out forwards;

        @media only screen and (max-width: 1300px) {
          right: 2%;
        }
      }

      &:hover {
        background-color: rgba($color: $white, $alpha: 0.6);
      }
    }

    .slide {
      width: 100%;
      height: calc(100%);
      transition: all 0.3s ease-in-out;
      position: absolute;
      left: 0;
      top: 0;

      &.active {
        .slide__content {
          opacity: 1;
          z-index: 2;
          transform: translateY(50%) translateX(-50%);
          transition: all 0.3s ease-in-out;
        }

        .slide__image {
          transform: translateX(0%);
          opacity: 1;
          transition: all 0.3s ease-in-out;
          z-index: 1;
        }
      }

      .slide__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.5;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          display: block;
          filter: brightness(0.6);
        }
      }

      .slider__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        left: 0;
        backdrop-filter: blur(10px);
        background-color: rgba($color: $white, $alpha: 0.6);
        z-index: 4;
      }

      .slide__content {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateY(60%) translateX(-50%);
        @include flex(column, space-between, flex-start);
        width: 50%;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        opacity: 0;
        animation: slideUpContent 0.4s ease-in-out forwards;

        @media only screen and (max-width: 1300px) {
          width: 80%;
          @include flex(column, center, center);
        }

        h1 {
          font: 60px "Roboto Black", sans-serif;
          color: $black;
          color: $white;
          line-height: 1;
          width: 70%;
          text-align: left;
          text-transform: uppercase;
          span {
            color: $primary;
          }

          @media only screen and (max-width: 1300px) {
            font: 40px "Roboto Bold", sans-serif;
            width: 100%;
            text-align: center;
          }
        }

        h2 {
          font: 30px "Roboto Light", sans-serif;
          color: $light-gray;
          margin-bottom: 0.5rem;
          width: 100%;
          text-align: left;

          @media only screen and (max-width: 1300px) {
            font: 17px "Roboto Light", sans-serif;
            width: 100%;
            text-align: center;
          }
        }

        p {
          font: 13px "Roboto Light", sans-serif;
          color: $light-gray;
          transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
          text-align: left;

          @media only screen and (max-width: 1300px) {
            font: 11px "Roboto Light", sans-serif;
            width: 100%;
            text-align: center;
          }
        }

        .slide__description {
          @include flex(column, flex-start, flex-start);
          gap: 1rem;
          padding-top: 0.4rem;
          line-height: 1.1;
          text-align: center;
          width: 60%;

          @media only screen and (max-width: 1300px) {
            width: 90%;
          }
        }

        .slide__actions {
          width: 100%;
          @include flex(row, flex-start, center);
          gap: 1rem;
          margin-top: 1.5rem;

          @media only screen and (max-width: 1300px) {
            width: 100%;
            @include flex(row, center, center);
            gap: 1rem;
          }

          .btn {
            background-color: $white;
            color: $black;
            font: 13px "Roboto Regular", sans-serif;
          }
        }
      }
    }
  }

  .services {
    width: 100%;
    padding: 5vh 0;
    @include flex(row, flex-start, center);
    padding-bottom: 10vh;

    @media only screen and (max-width: 1200px) {
      @include flex(column, center, center);
    }

    .content {
      @include flex(column, flex-start, center);
      width: 35%;
      padding: 0 2rem;
      padding-left: 12.5vw;
      height: 100%;

      @media only screen and (max-width: 1200px) {
        padding: 0 5%;
        width: 100%;
      }

      h1 {
        font: 35px "Roboto Regular", sans-serif;
        color: $black;
        margin-bottom: 0.5rem;
        margin-bottom: 1.5rem;
        padding-left: 2rem;
        position: relative;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 2px;
          height: 100%;
          background-color: $primary-light;
          content: "";
        }
        span {
          color: $primary;
        }

        @media only screen and (max-width: 1200px) {
          font: 28px "Roboto Regular", sans-serif;
          width: 100%;
          text-align: center;

          &::before {
            display: none;
          }
        }
      }

      p {
        font: 13px "Roboto Regular", sans-serif;
        color: $black;
        text-align: left;
        margin-bottom: 1rem;
        padding-left: 2rem;

        @media only screen and (max-width: 1200px) {
          font: 11px "Roboto Regular", sans-serif;
          width: 100%;
          text-align: center;
        }
      }
    }

    .services__container {
      @include flex(row, flex-start, center);
      padding-right: 12.5vw;
      width: 65%;

      @media only screen and (max-width: 1300px) {
        padding-right: 5vw;
      }

      @media only screen and (max-width: 1200px) {
        width: 100%;
        padding: 0 5%;
        background-color: $white;
        margin-top: 3vh;
      }

      @media only screen and (max-width: 768px) {
        @include flex(column, center, center);
      }

      .service {
        position: relative;
        width: calc(100% / 3);
        height: 50vh;

        @media only screen and (max-width: 768px) {
          width: 100%;
          height: 40vh;
        }

        .image {
          width: 100%;
          height: 100%;
          overflow: hidden;
          filter: brightness(0.4);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .service__link {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 0.6rem 1rem;
          background-color: $primary;
          color: $white;
          font: 12px "Roboto Light", sans-serif;
          text-decoration: none;

          &:hover {
            background-color: $primary-light;
          }
        }

        .service__content {
          position: absolute;
          left: 0;
          bottom: 10%;
          width: 100%;
          height: 40%;
          @include flex(column, flex-start, flex-start);
          gap: 1rem;
          padding: 1rem;
          z-index: 2;

          @media only screen and (max-width: 1700px) {
            height: 50%;
          }

          h2 {
            font: 20px "Roboto Bold", sans-serif;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
          }

          p {
            font: 13px "Roboto Light", sans-serif;
            color: $white;
            max-width: 90%;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .about-us {
    @include flex(row, flex-start, center);
    width: 100%;
    z-index: 10000;
    padding: 0 12.5%;
    height: 75vh;
    position: relative;

    @media only screen and (max-width: 1300px) {
      height: 100%;
      padding: 0 5%;
    }

    @media only screen and (max-width: 768px) {
      height: 100%;
      padding: 0 5%;
      flex-direction: column;
    }

    .content {
      @include flex(column, center, flex-start);
      z-index: 2;
      background-color: rgba($color: #ffffff, $alpha: 1);
      width: 50%;
      transform: translateX(5%);
      padding: 2rem 3rem;
      box-shadow: 0px 0px 20px 0px rgba($color: $black, $alpha: 0.1);

      @media only screen and (max-width: 1300px) {
        width: 100%;
        padding: 2rem 1rem;
        transform: translateX(0%);
        box-shadow: none;
      }

      .circle__container {
        position: absolute;
        right: 0;
        bottom: 10%;
        transform: translateX(50%) translateY(75%);
        background-color: rgba($color: $white, $alpha: 0.7);
        backdrop-filter: blur(10px);
        padding: 1rem;
        @include flex(column, center, center);
        gap: 1rem;
        box-shadow: 0px 0px 20px 0px rgba($color: $black, $alpha: 0.1);

        @media only screen and (max-width: 1300px) {
          bottom: 0;
          transform: translateX(-8%) translateY(90%);
        }

        .circle {
          width: 6rem;

          @media only screen and (max-width: 1300px) {
            width: 4rem;
            height: 4rem;
          }
        }

        h4 {
          font: 13px "Roboto Bold", sans-serif;
          color: $black;

          @media only screen and (max-width: 1300px) {
            font: 11px "Roboto Black", sans-serif;
            text-align: center;
          }
        }
      }

      h1 {
        font: 35px "Roboto Regular", sans-serif;
        color: $black;
        margin-bottom: 2rem;

        @media only screen and (max-width: 1300px) {
          font: 28px "Roboto Regular", sans-serif;
          width: 100%;
          text-align: left;
        }

        span {
          color: $primary;
        }
      }

      p {
        font: 13px "Roboto Regular", sans-serif;
        color: $black;
        margin-bottom: 3rem;
        max-width: 90%;
        line-height: 1.6;

        @media only screen and (max-width: 1300px) {
          font: 11px "Roboto Regular", sans-serif;
          max-width: 100%;
        }
      }

      .list {
        width: 90%;
        @include flex(column, flex-start, flex-start);
        padding-left: 5%;

        @media only screen and (max-width: 1800px) {
          width: 100%;
          padding-left: 0;
        }

        .item {
          @include flex(row, flex-start, flex-start);
          gap: 1rem;
          height: 10vh;
          padding: 1rem 0;
          border-top: 1px solid $gray;

          @media only screen and (max-width: 1600px) {
            height: 11vh;
          }

          @media only screen and (max-width: 1300px) {
            height: 11vh;
          }

          @media only screen and (max-width: 400px) {
            height: 13vh;
          }

          .item__content {
            @include flex(column, flex-start, flex-start);
            width: 100%;
            gap: 5px;

            h3 {
              font: 16px "Roboto Black", sans-serif;
              color: $black;
              text-transform: uppercase;
            }

            p {
              font: 13px "Roboto Regular", sans-serif;
              color: $black;
              max-width: 100%;
              text-align: left;

              @media only screen and (max-width: 1300px) {
                font: 11px "Roboto Regular", sans-serif;
                max-width: 100%;
              }
            }
          }

          .icon {
            background-color: $primary;
            height: 100%;
            aspect-ratio: 1/1 !important;
            padding: 0.7rem;

            svg {
              width: 100%;
              height: 100%;
              color: $white;
            }
          }
        }
      }
    }

    .image {
      height: 100%;
      padding: 0;
      width: 50%;
      position: relative;
      overflow: hidden;

      @media only screen and (max-width: 1300px) {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .contact {
    width: 100%;
    @include flex(row, flex-start, flex-start);
    background-color: $secondary;

    @media only screen and (max-width: 1000px) {
      height: 100%;
      @include flex(column, center, center);
    }

    .form {
      @include flex(column, center, flex-start);
      padding: 3rem 2rem;
      width: 50%;
      background-color: $white;
      z-index: 5;
      height: 100%;
      padding-right: 12.5%;
      gap: 1rem;
      background-color: $light-gray;
      height: 100vh;

      @media only screen and (max-width: 1300px) {
        padding-right: 5vw;
      }

      @media only screen and (max-width: 1000px) {
        width: 100%;
        padding: 3rem 5%;
        @include flex(column, center, center);
      }

      h1 {
        font: 27px "Roboto Regular", sans-serif;
        color: $black;
        span {
          color: $primary;
        }
      }

      input {
        width: 100%;
        padding: 0.7rem 1rem;
        border: 1px solid $gray;
        outline: none;
        font: 13px "Roboto Light", sans-serif;
        color: $black;
        transition: all 0.3s ease-in-out;

        &:focus {
          border: 1px solid $primary;
        }
      }

      .row {
        @include flex(row, center, center);
        width: 100%;
        gap: 0.5rem;
      }

      textarea {
        width: 100%;
        padding: 1rem 1rem;
        border: 1px solid $gray;
        outline: none;
        font: 15px "Roboto Light", sans-serif;
        color: $black;
        transition: all 0.3s ease-in-out;
        resize: none;
        min-height: 15vh;

        &:focus {
          border: 1px solid $primary;
        }
      }

      p {
        margin-top: 1rem;
        font: 15px "Roboto Regular", sans-serif;
      }
    }

    ul {
      padding: 1rem 2rem;
      margin: 0;
      gap: 1rem;
      @include flex(column, flex-start, flex-start);

      li {
        font: 17px "Roboto Light", sans-serif;
        span {
          margin-left: 0.5rem;
        }
      }
    }

    .info {
      @include flex(column, space-between, flex-start);
      padding: 3rem;
      width: 50%;
      padding-left: 12.5%;
      color: $white;
      height: 100%;
      height: 100vh;

      @media only screen and (max-width: 1300px) {
        padding-left: 5vw;
      }

      @media only screen and (max-width: 1000px) {
        width: 100%;
        padding: 3rem 5%;
        @include flex(column, space-between, center);
      }

      h1 {
        font: 30px "Roboto Light", sans-serif;
        color: $white;
        span {
          color: $primary;
        }
      }

      p {
        font: 14px "Roboto Light", sans-serif;
        color: $white;
      }

      img {
        object-fit: contain;
        max-width: 70%;
      }
    }

    .socials {
      @include flex(row, center, center);
      gap: 0.5rem;

      img {
        height: 3vh;
        width: 3vh;
        cursor: pointer;
      }
    }
  }

  .devices {
    @include flex(column, center, center);
    width: 100%;
    padding: 5vh 12.5%;
    overflow: hidden;

    @media only screen and (max-width: 1300px) {
      padding: 5vh 5%;
    }

    h1 {
      font: 35px "Roboto Regular", sans-serif;
      color: $black;
      margin-bottom: 2rem;
      text-transform: uppercase;

      @media only screen and (max-width: 1300px) {
        font: 28px "Roboto Regular", sans-serif;
        width: 100%;
        text-align: center;
      }

      span {
        color: $primary;
      }
    }

    p {
      text-align: center;
      max-width: 40%;
      font: 13px "Roboto Regular", sans-serif;

      @media only screen and (max-width: 1300px) {
        font: 11px "Roboto Regular", sans-serif;
        max-width: 90%;
      }
    }

    .devices__container {
      @include flex(row, center, center);
      gap: 1rem;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 3rem;
      overflow: hidden;

      @media only screen and (max-width: 1300px) {
        gap: 0.5rem;
      }

      .device {
        width: calc(50% - 0.5rem);
        height: 30vh;
        overflow: hidden;
        @include flex(row, center, center);
        background-color: #f1f1f1;

        @media only screen and (max-width: 1300px) {
          width: calc(50% - 0.5rem);
        }

        @media only screen and (max-width: 1000px) {
          width: calc(100%);
        }

        .image {
          width: 50%;
          height: 100%;
          overflow: hidden;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            background-color: rgba($color: $gray, $alpha: 0.3);
          }

          img {
            width: 100%;
            height: 100% !important;
            object-fit: cover;
            object-position: center;
          }
        }

        .content {
          height: 100%;
          width: 50%;
          padding: 1.5rem 1rem;
          @include flex(column, space-between, flex-start);

          .top {
            @include flex(column, flex-start, flex-start);
            width: 100%;

            h3 {
              font: 35px "Roboto Regular", sans-serif;
              color: $black;
              margin-bottom: 0.5rem;
            }

            p {
              font: 13px "Roboto Regular", sans-serif;
              color: $black;
              max-width: 100%;
              text-align: left;
            }
          }

          .bottom {
            @include flex(row, flex-start, center);
            width: 100%;
            gap: 1rem;

            @media only screen and (max-width: 1300px) {
              gap: 0.5rem;
              @include flex(column-reverse, flex-start, flex-start);
            }

            .link {
              color: $black;
              font: 11px "Roboto SemiBold", sans-serif;
              border-bottom: 1px solid $black;
            }

            .outside__btn {
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  .whole__image__section {
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    margin-top: 15vh;
    padding: 8vh 12.5%;
    @include flex(row, center, center);
    gap: 5%;

    @media only screen and (max-width: 1300px) {
      padding: 8vh 5%;
    }

    @media only screen and (max-width: 860px) {
      height: 100%;
      padding: 8vh 5%;
      margin-top: 10vh;
      @include flex(column-reverse, center, center);
    }

    .background__image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      left: 0;
      z-index: -1;
      top: 0;
      background-color: $white;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.5);
      }
    }

    .image {
      width: 50%;
      height: 100%;
      z-index: 2;
      overflow: hidden;
      box-shadow: 0px 0px 60px 0px rgba($color: $black, $alpha: 0.55);

      @media only screen and (max-width: 860px) {
        width: 100%;
        height: 50%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.8);
      }
    }

    .content {
      width: 45%;
      @include flex(column, flex-start, flex-start);

      @media only screen and (max-width: 860px) {
        width: 100%;
        padding: 0;
        height: 45%;
        padding-bottom: 5vh;
        @include flex(column, center, center);
      }

      h2 {
        font: 20px "Roboto Regular", sans-serif;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        text-align: left;
        max-width: 100%;
        letter-spacing: 1px;
        span {
          color: $primary;
        }

        @media only screen and (max-width: 860px) {
          font: 17px "Roboto Regular", sans-serif;
          text-align: center;
        }
      }

      h1 {
        font: 80px "Roboto Black", sans-serif;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: left;
        max-width: 100%;
        line-height: 1;

        span {
          color: $primary;
        }

        @media only screen and (max-width: 860px) {
          font: 60px "Roboto Black", sans-serif;
          text-align: center;
        }
      }

      p {
        font: 13px "Roboto Light", sans-serif;
        color: $white;
        margin-bottom: 2rem;
        text-align: left;
        max-width: 80%;

        @media only screen and (max-width: 860px) {
          font: 11px "Roboto Regular", sans-serif;
          max-width: 100%;
          text-align: center;
        }
      }
    }
  }

  .projects {
    width: 100%;
    padding: 0 12.5%;
    @include flex(column, center, center);
    position: relative;
    padding-bottom: 68vh;
    margin-top: 10vh;

    @media only screen and (max-width: 1300px) {
      padding: 0 5%;
      padding-bottom: 60vh;
      padding-top: 5vh;
    }

    h1 {
      font: 35px "Roboto Regular", sans-serif;
      color: $black;
      margin-bottom: 2rem;
      text-transform: uppercase;

      @media only screen and (max-width: 1300px) {
        font: 28px "Roboto Regular", sans-serif;
        width: 100%;
        text-align: center;
      }

      span {
        color: $primary;
      }
    }

    p {
      text-align: center;
      max-width: 40%;
      font: 13px "Roboto Regular", sans-serif;

      @media only screen and (max-width: 1300px) {
        font: 11px "Roboto Regular", sans-serif;
        max-width: 90%;
      }
    }
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-30rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(30rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes slideUpContent {
  0% {
    transform: translateY(90%) translateX(-50%);
  }
  100% {
    transform: translateY(50%) translateX(-50%);
  }
}

@keyframes slideService {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-5vh);
  }
}
