@import "../App.scss";

.project {
  margin-bottom: 10vh;
  .project__image {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    padding: 0 12.5%;
    position: relative;
    padding-top: 5vh;

    @media only screen and (max-width: 1300px) {
      padding: 0 5%;
    }

    img {
      width: 100%;
      height: 100% !important;
      object-fit: cover;
      object-position: center;
    }
  }

  .info {
    @include flex(column, center, center);
    width: 100%;
    padding: 5vh 12.5%;

    @media only screen and (max-width: 1300px) {
      padding: 5vh 5%;
    }

    h2 {
      font: 20px "Roboto Regular", sans-serif;
      color: $black;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      span {
        color: $primary;
      }

      @media only screen and (max-width: 1300px) {
        font: 15px "Roboto Bold", sans-serif;
        text-align: center;
        max-width: 100%;
      }
    }

    h1 {
      font: 45px "Roboto Regular", sans-serif;
      color: $black;
      margin-bottom: 0.5rem;
      margin-bottom: 1.5rem;
      span {
        color: $primary;
      }

      @media only screen and (max-width: 1300px) {
        font: 30px "Roboto Regular", sans-serif;
        text-align: center;
        max-width: 100%;
      }
    }

    .description {
      font: 15px "Roboto Regular", sans-serif;
      color: $black;
      max-width: 60%;
      text-align: left;
      margin-bottom: 1rem;
      text-align: center;
      @media only screen and (max-width: 1300px) {
        font: 11px "Roboto Regular", sans-serif;
        max-width: 90%;
      }
    }

    .address,
    .year {
      font: 15px "Roboto SemiBold", sans-serif;
      color: $black;
      max-width: 60%;
      text-align: left;
      margin-top: 1rem;

      @media only screen and (max-width: 1300px) {
        font: 11px "Roboto SemiBold", sans-serif;
        max-width: 90%;
      }
    }
  }

  .project__content {
    @include flex(column, center, center);
    width: 100%;
    padding: 5vh 12.5%;
    overflow: hidden;
    gap: 5vh;
    @media only screen and (max-width: 1300px) {
      padding: 5vh 5%;
    }
    .slide {
      height: 60vh;
      width: 100%;
      @include flex(row, center, center);
      @media only screen and (max-width: 1300px) {
        @include flex(column, center, center);
        height: auto;
      }

      .image {
        width: 50%;
        height: 100%;
        overflow: hidden;
        @media only screen and (max-width: 1300px) {
          width: 100%;
          height: 50vh;
        }

        img {
          width: 100%;
          height: 100% !important;
          object-fit: cover;
          object-position: center;
        }
      }

      .content {
        @include flex(column, center, flex-start);
        width: 50%;
        padding-left: 5%;
        height: 100%;
        @media only screen and (max-width: 1300px) {
          width: 100%;
          height: auto;
          padding: 5vh 5%;
        }

        h1 {
          font: 35px "Roboto Regular", sans-serif;
          color: $black;
          margin-bottom: 2rem;
          text-align: left;

          @media only screen and (max-width: 1300px) {
            font: 28px "Roboto Regular", sans-serif;
            text-align: center;
            max-width: 100%;
          }
        }

        p {
          font: 15px "Roboto Regular", sans-serif;
          color: $black;
          max-width: 100%;
          text-align: left;
          margin-top: 0.5rem;

          @media only screen and (max-width: 1300px) {
            font: 11px "Roboto Regular", sans-serif;
            max-width: 100%;
          }
        }
      }

      &.reverse {
        @include flex(row-reverse, center, center);
        @media only screen and (max-width: 1300px) {
          @include flex(column, center, center);
        }

        .content {
          padding-right: 5%;
          padding-left: 0;
        }
      }
    }
  }

  .projects {
    width: 100%;
    padding: 0 12.5%;
    @include flex(column, center, center);
    position: relative;
    padding-bottom: 68vh;
    margin-top: 10vh;

    @media only screen and (max-width: 1300px) {
      padding: 0 5%;
      padding-bottom: 60vh;
      padding-top: 5vh;
    }

    h1 {
      font: 35px "Roboto Regular", sans-serif;
      color: $dark-gray;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      span {
        color: $primary;
      }

      @media only screen and (max-width: 1300px) {
        font: 28px "Roboto Regular", sans-serif;
        text-align: center;
        max-width: 100%;
      }
    }

    p {
      text-align: center;
      max-width: 40%;
      font: 13px "Roboto Regular", sans-serif;

      @media only screen and (max-width: 1300px) {
        font: 11px "Roboto Regular", sans-serif;
        max-width: 90%;
      }
    }
  }
}
