@import "../App.scss";

.projects {
  .projects__container {
    @include flex(row, center, flex-start);
    width: 100%;
    padding: 3vh 12.5%;
    flex-wrap: wrap;
    transform: translateY(-6vh);

    @media (max-width: 1600px) {
      padding: 3vh 5%;
      gap: 0.5rem;
    }

    .project {
      width: calc(100% / 3);
      height: 75vh;
      @include flex(column, flex-start, flex-start);
      position: relative;
      padding: 0.2rem 0.35rem;

      @media (max-width: 1300px) {
        width: calc(100% / 3);
      }

      @media (max-width: 1000px) {
        width: calc(100% / 2);
      }

      @media (max-width: 768px) {
        width: 100%;
        height: 85vh;
      }

      @media (max-width: 400px) {
        height: 92vh;
      }

      .image {
        height: 65%;
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        @include flex(column, flex-start, flex-start);
        width: calc(100%);
        gap: 1rem;
        height: 35%;
        padding: 1.5rem 0;
        padding-bottom: 0;

        h3 {
          font: 23px "Roboto Black", sans-serif;
          color: $black;
          letter-spacing: 1px;

          @media (max-width: 1300px) {
            font: 20px "Roboto Bold", sans-serif;
          }
        }

        p {
          font: 14px "Roboto Regular", sans-serif;
          color: $black;
          max-width: 100%;
          text-align: left;
          line-height: 1.5;
          padding-bottom: 2rem;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 40%;
            height: 1px;
            background-color: $gray;
          }

          @media (max-width: 1300px) {
            font-size: 12px;
          }
        }

        .outside__btn {
          font: 13px "Roboto Regular", sans-serif;
          background-color: $secondary;
          color: $white;
          padding: 0.6rem 1.2rem;
          margin-top: 0.5rem;

          @media (max-width: 768px) {
            font-size: 11px;
          }
        }
      }
    }
  }
}
