$primary: #008fd1;
$primary-dark: #0074aa;
$primary-light: #00aeff;
$secondary: #1a2529;
$secondary-dark: #0f1618;
$white: #fff;
$black: #000;
$light-gray: #f5f5f5;
$gray: #ccc;
$dark-gray: rgb(31, 31, 31);

@font-face {
  font-family: "Roboto Regular";
  src: url("../src/assets/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Black";
  src: url("../src/assets/font/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../src/assets/font/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../src/assets/font/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../src/assets/font/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../src/assets/font/Roboto-Thin.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 1rem "Roboto Regular", sans-serif;
  color: $black;
  width: 100%;
  position: relative;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba($color: $primary, $alpha: 0.9);
  color: $white;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font: 13px "Roboto Regular", sans-serif;
  position: relative;

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgba($color: $white, $alpha: 0.25);
    left: 0;
    top: 0;
    transition: all 0.1s ease-in-out;
    z-index: 1;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.outside__btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: $black;
  border: 1px solid $black;
  padding: 0.5rem 1.1rem;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font: 13px "Roboto SemiBold", sans-serif;
  position: relative;

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 0.4rem 0.9rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgba($color: $white, $alpha: 0.25);
    left: 0;
    top: 0;
    transition: all 0.1s ease-in-out;
    z-index: 1;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.link {
  color: $light-gray;
  font: 13px "Roboto Light", sans-serif;
  text-decoration: none;
  border-bottom: 1px solid $light-gray;
}

.page {
  width: 100%;
  min-height: 80vh;
  position: relative;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
