$primary: #2f82ee;
$secondary-dark: #192332;
$secondary: #3e4653;
$white: #fff;
$black: #000;
$light-gray: #f5f5f5;
$gray: #ccc;
$dark-gray: #333;

@font-face {
  font-family: "Roboto Regular";
  src: url("../src/assets/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Black";
  src: url("../src/assets/font/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../src/assets/font/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../src/assets/font/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../src/assets/font/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../src/assets/font/Roboto-Thin.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 1rem "Roboto Regular", sans-serif;
  color: $black;
  width: 100%;
  position: relative;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $primary;
  color: $white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font: 0.9rem "Roboto Light", sans-serif;
  text-transform: uppercase;
  position: relative;

  &.lowercase {
    text-transform: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #ffffff50;
    left: 0;
    top: 0;
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.link {
  color: $light-gray;
  font: 0.9rem "Roboto Light", sans-serif;
  text-decoration: none;
  border-bottom: 1px solid $light-gray;
}

.page {
  width: 100%;
  min-height: 80vh;
  position: relative;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
